<!doctype html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}WeatherPy II WebPage</title>
    <div class="html_head"> {% block html_head %} {% endblock %} </div>
    <p></p>

</head>

      <!-- Custom styles for this template -->
      <link href="sticky-footer-navbar.css" rel="stylesheet">
<body class="d-flex flex-column h-100">
    <header>
        <!-- NAVBAR -->
        <div class="container-fluid bg-primary" id='navbar'>
            <div class="row"></div>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand bg-info font-weight-bold text-dark rounded-lg " href="#"> Bad Attitudes vs
                    Latitudes ° </a>
                <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="Landing_Page.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://hawkeye3d.com">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-primary" href="TempComparison.html">Temperature</a>
                                <a class="dropdown-item text-primary" href="HumidityComparison.html">Humidity</a>
                                <a class="dropdown-item text-primary"
                                    href="CloudinessComparison.html">Cloudiness</a>
                                <a class="dropdown-item text-primary" href="WindSpeedComparison.html">Wind
                                    Speed</a>

                                <a class="dropdown-item text-primary" href=DataView.html">Data View</a> </div>
                                    </li> </ul>  
                                    
                            </div>
                            
                </div>       


    </header>
<body>
    <footer class="footer mt-auto py-3">
        <p class=""></p>
        <div class="row">

             
                       
         

                 
        </div>
  

      <div class="row">
        <h1>Background</h1>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <h3 class="">Summary: Latitude vs. X </h3>
          </div>
          <hr class="text-dark">
          <img src="../Resources\assets\images\Fig1.png" width=60% vspace=10 hspace=10 ALIGN='left' alt="Temp vs Latitude"
            class="border border-primary rounded-lg">
          <p class="text-left font-weight-bold text-muted bg-light rounded-lg">Pellentesque habitant morbi tristique
            senectus et
            netus et malesuada fames ac turpis egestas. Vestibulum
            tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
            semper.
            Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
            pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum,
            elit
            eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in
            turpis
            pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu
            vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis,Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
            tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
            semper.
            Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
            pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum,
            elit
            eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in
            turpis
            pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu
            vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis,
            <p>

        </div>
        <div class="containier-fluid bg-dark rounded-lg"></div>
        <div class="col bg-warning rounded-lg">
          <div class="row">
            <div class="col">
              <div class="row">
                <h3 class="bg-dark text-white rounded-lg ">Graphs</h3>
              </div>
              <hr class="text-dark">
              
                <div class="row">
                  <div class="col-lg-6 col">
                    <img src="../Resources\assets\images\Fig1.png" width=auto height=auto vspace=10 hspace=10 ALIGN='left'
                      alt="Temp vs Latitude" class="border border-primary rounded-lg">
                    <img src="../Resources\assets\images\Fig2.png" width=auto height=autovspace=10 hspace=10 ALIGN='left'
                      alt="Temp vs Latitude" class="border border-primary rounded-lg">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col">
                    <img src="../Resources\assets\images\Fig3.png" width=auto vspace=10 height=auto hspace=10 ALIGN='left'
                      alt="Temp vs Latitude" class="border border-primary rounded-lg">
                    <img src="../Resources\assets\images\Fig4.png" width=auto height=autovspace=10 hspace=10 ALIGN='left'
                      alt="Temp vs Latitude" class="border border-primary rounded-lg">
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>


      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
 
</body>

</html>