<!doctype html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}WeatherPy II WebPage</title>
    <div class="html_head"> {% block html_head %} {% endblock %} </div>
</head>

      <!-- Custom styles for this template -->
      <link href="sticky-footer-navbar.css" rel="stylesheet">
<body class="d-flex flex-column h-100">
    <header>
        <!-- NAVBAR -->
        <div class="container-fluid bg-primary" id='navbar'>
            <div class="row"></div>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand bg-info font-weight-bold text-dark rounded-lg " href="#"> Bad Attitudes vs
                    Latitudes ° </a>
                <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://hawkeye3d.com">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-primary" href="TempComparison.html">Temperature</a>
                                <a class="dropdown-item text-primary" href="HumidityComparison.html">Humidity</a>
                                <a class="dropdown-item text-primary"
                                    href="CloudinessComparison.html">Cloudiness</a>
                                <a class="dropdown-item text-primary" href="WindSpeedComparison.html">Wind
                                    Speed</a>
                                <a class="dropdown-item text-primary" href="Views/WeatherPy.html">WeatherPy Jupyter View</a>
                                <a class="dropdown-item text-primary" href=DataView.html">Data View</a> </div>
                                    </li> </ul>  
                                    
                            </div>
                            
                </div>       


    </header>
    <div class="container-fluid bg-light   rounded-lg">
            <footer class="footer mt-auto py-3">
                <p class=""></p>
                <div class="row">
                    <h1 class="text-centered">Temperature Camparison</h1>
                </div>
    
                <div class="row">
                    <img src="../Resources/assets\images\Fig1.png" alt="Window"
                        class="mx-auto d-block border border-info rounded-lg">
                </div>
    
                <p class="bg-warning text-centered">My Comparison...</p>
    
                <img src="../Resources/assets\images\Latgraphs.png" alt="Window" width=800 height=500
                    class="mx-auto d-block border border-info rounded-lg">
    
    
                <p class="bg-warning text-centered">My Analysis...</p>
                <div class="row">
         
            <p class="Analysis"> The graphic summary from my Weatherpy depicts five graphs.  The world-like graph shows all places where measurements were reported for the analysis.  Note that there are no measurements in the oceans, and very few in the deserts of the world.  There are also few in much of China and Russia. I adopted the convention of displaying latitude in the oriention that is spacially oriented as opposed to the Trilogy way.  It is always best to display a spacial parameter in its proper orientation if possible. 
 
                    The conclusion stated in the Trilogy example ignores the fact that the highest temperatures recorded are north of the equator.  My 2039 point analysis shows that this is not just anomolous, but a clear pattern. So, the Trilogy analysis is flawed, and the flawed technique did show the pattern, but not as distinctly as my comparison did.  Perhaps the more important lesson here is to not let your assumption blind you to the reality of the data.</p>
     
                    </div>
        </div>
        <!--Row-->
        </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</html>